.footer-overlay {
  @apply fixed
    right-0
    bottom-0
    rounded-s-md
    h-20
    w-32
   bg-green-400;
  transition: all linear 0.3s;
  &:hover {
    background-color: #ffffffb2;
    border: 1px solid black;
    box-sizing: border-box;
  }
}
.panier {
  @apply flex
  justify-center
  align-middle;
}
