.product-card {
  @apply flex
    flex-col
    items-center
    relative
    h-full
    w-full
    rounded-md
    border-2
    border-black

    transition
    duration-300
    ease-in-out

    hover:border-white
    hover:shadow-2xl;
}

.image-container {
  @apply w-full
    flex
    justify-center
    rounded-t-md
    
    bg-blue-100
    bg-opacity-50;
}

.image {
  aspect-ratio: 4/3.5;
}

.footer {
  @apply w-full
    flex
    justify-between
    grow
    p-2;
}

.cta {
  @apply h-11
    w-11
    flex
    justify-center
    shrink-0
    items-center
    rounded-full
    text-xl
    transition-all
    duration-200
    bg-black
    text-white
    border-2
    border-black
    hover:bg-white
    hover:text-black;
}
