@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@500&display=swap");

$primary-font: "Poppins", sans-serif;
$second-font: "Open Sans", sans-serif;

.header__content {
  @apply h-24
    flex
    flex-row
    items-center
    justify-between
    py-4
    border-gray-300
    border-b-2
    mb-8;
}

.header__title {
  @apply font-heading
    text-4xl
    text-gray-800
      font-extrabold;
  font-family: $primary-font;
}
