@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@500&display=swap");

$primary-font: "Poppins", sans-serif;
$second-font: "Open Sans", sans-serif;

.product-sheet {
  @apply flex
    flex-col
    items-center
    justify-evenly
    relative
    max-w-md
    p-5
    rounded-md
    border-2
    border-white
    hover:border-black
    text-2xl
    bg-amber-50;
  box-sizing: border-box;
}

.details {
  @apply flex
    flex-col
    items-center
    justify-evenly
    py-5
    w-full;
  height: 10vh;
  .product-title {
    font-family: $primary-font;
    font-size: 2rem;
    text-transform: capitalize;
  }
}
.description {
  font-size: 0.9rem;
  text-align: justify;
  font-family: $second-font;
}
